<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806aaa">  <td>18/08/26 23:34:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTests()[pri:0, instance:com.Experta.Tests.Home.tests_Home@6a03bcb1]">&gt;&gt;setupTests</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/08/26 23:34:14</td>   <td>9415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tests_Home.setUp()[pri:0, instance:com.Experta.Tests.Home.tests_Home@6a03bcb1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/08/26 23:34:14</td>   <td>9416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests_Home.test_subscribe_newsletter()[pri:0, instance:com.Experta.Tests.Home.tests_Home@6a03bcb1]">test_subscribe_newsletter</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/08/26 23:34:31</td>   <td>26337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tests_Home.tearUp()[pri:0, instance:com.Experta.Tests.Home.tests_Home@6a03bcb1]">&lt;&lt;tearUp</td> 
<td>&nbsp;</td>  <td>main@1757880885</td>   <td></td> </tr>
</table>
