<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="689d9d">  <td>18/08/27 00:01:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tests_Home.setUp()[pri:0, instance:com.Experta.Tests.Home.tests_Home@57250572]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>18/08/27 00:02:01</td>   <td>26842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tests_Login.setUp()[pri:0, instance:com.Experta.Tests.Login.tests_Login@5609159b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="85a6e9">  <td>18/08/27 00:01:14</td>   <td>-19373</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTests()[pri:0, instance:com.Experta.Tests.Home.tests_Home@57250572]">&gt;&gt;setupTests</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="85a6e9">  <td>18/08/27 00:01:58</td>   <td>24115</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTests()[pri:0, instance:com.Experta.Tests.Login.tests_Login@5609159b]">&gt;&gt;setupTests</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/08/27 00:01:57</td>   <td>23795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tests_Home.tearUp()[pri:0, instance:com.Experta.Tests.Home.tests_Home@57250572]">&lt;&lt;tearUp</td> 
<td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>18/08/27 00:02:19</td>   <td>45152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tests_Login.tearUp()[pri:0, instance:com.Experta.Tests.Login.tests_Login@5609159b]">&lt;&lt;tearUp</td> 
<td>&nbsp;</td>  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>18/08/27 00:02:01</td>   <td>26842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests_Login.test_invalid_login()[pri:0, instance:com.Experta.Tests.Login.tests_Login@5609159b]">test_invalid_login</td> 
  <td>main@1025309396</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>18/08/27 00:01:34</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tests_Home.test_subscribe_newsletter()[pri:0, instance:com.Experta.Tests.Home.tests_Home@57250572]">test_subscribe_newsletter</td> 
  <td>main@1025309396</td>   <td></td> </tr>
</table>
